
<% breadcrumb :user_edit %>
<br>
<div class="jumbotron">
  <h1 class="display-4">プロフィール編集</h1>
  <p class="lead">プロフィール画像を設定してみよう</p>
  <hr class="my-4">
  <p>共有された参考書を調べて自分の力に！<br>
</div>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <table class="table table-borderless col-8 mx-auto">
    <tr>
      <th>
        <%= f.label :プロフィール画像 %>
      </th>
      <td>
        <%= f.attachment_field :image %>
      </td>
    </tr>

    <tr>
      <th>
        <%= f.label :名前 %>
      </th>
      <td>
        <%= f.text_field :name, class: "form-control" %>
      </td>
    </tr>

    <tr>
      <th>
        <%= f.label :紹介文（200文字以下） %>
      </th>
      <td>
        <%= f.text_area :introduction, size: "20x10", class: "form-control", style: "resize: none;" %>
      </td>
    </tr>

    <tr>
      <th>
        <%= f.label :メールアドレス %>
      </th>
      <td>
        <%= f.email_field :email, class: "form-control" %>
      </td>
    </tr>

    <tr>
        <th>
          <%= f.label :新しいパスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </th>
        <td>
          <%= f.password_field :password, class: "form-control" %>
        </td>
      </tr>

      <tr>
        <th>
          <%= f.label :確認用パスワード %>
        </th>
        <td>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </td>
      </tr>

  </table>

  <div class="actions text-center">
    <%= f.submit "更新", class: "btn btn-success" %>
  </div>
<% end %>
<br>
<div class="text-center">
  <%= link_to "戻る", :back, class: "btn btn-info" %>
</div>
<br>
<div class="text-center">
  <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete, class: "btn btn-danger" %>
</div>
<br>
