<div class="col-8 mx-auto">

  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= bootstrap_devise_error_messages! %>
    <%= render "layouts/flash" %>

    <table class="table table-borderless">
      <tr>
        <th>
          <%= f.label :名前 %>
        </th>
        <td>
          <%= f.text_field :name, class: "form-control" %>
        </td>
      </tr>


      <tr>
        <th>
          <%= f.label :メールアドレス %>
        </th>
        <td>
          <%= f.email_field :email, class: "form-control" %>
        </td>
      </tr>

      <tr>
        <th>
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </th>
        <td>
          <%= f.password_field :password, class: "form-control" %>
        </td>
      </tr>

      <tr>
        <th>
          <%= f.label :確認用パスワード %>
        </th>
        <td>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </td>
      </tr>
    </table>

    <div class="actions text-center">
      <%= f.submit "登録", class: "btn btn-primary" %><br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

