<div class="row">
  <div class="col-6 mx-auto">
    <%= form_with model: [book, comment], url: book_comments_path(book), local: true do |f| %>
      <%= f.hidden_field :book_id, value: book.id %>
      <%= f.label :コメント %>
      <div class="d-flex">
        <%= f.text_area :comment, class: "form-control" %>
        <span><%= f.submit "投稿", class: "btn btn-primary m-3" %></span>
      </div>
    <% end %>
  </div>
</div>
<br>