<% comments.each do |comment| %>
  <div class="card col-8 mx-auto">
    <div class="card-body">
      <div class="row">
        <%= link_to user_path(user), class: "link text-dark" do %>
          <div class="col-10 text-center">
            <%= attachment_image_tag comment.user, :image, size: "100x100", style: "border-radius: 50%;" %>
            <%= comment.user.name %>
          </div>
        <% end %>
        <div class="col-9">
          <%= comment.comment %>
          <div class="text-right">
            <%= comment.created_at %>&emsp;
            <% if current_user.id == comment.user_id %>
              <%= link_to "削除", book_comment_path(book,comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
