<% breadcrumb :user_show, @user %>
<br>
<div class="jumbotron">
  <% if current_user == @user %>
    <h1 class="display-4">マイページ</h1>
  <% else %>
    <h1 class="display-4"><%= @user.name %>のページ</h1>
  <% end %>
  <%= attachment_image_tag @user, :image, size: "300x300", style: "border-radius: 50%;", fallback: "no_image.jpeg" %>
  <div class="d-flex justify-content-end">
    <% unless current_user == @user %>
      <%= link_to "chatを始める", chat_path(@user.id) %>
    <% end %>
    <p class="m-3"><%= render "relationships/follow", user: @user %></p>&emsp;
    <%= link_to user_following_path(@user) do %>
      <h5 class="m-3">フォロー <%= @user.relationships.count %></h5>
    <% end %>
    <%= link_to user_followers_path(@user) do %>
      <h5 class="m-3">フォロワー <%= @follower.count %></h5>
    <% end %>
  </div>
  <hr class="my-4">
  <h4><%= @user.name %></h4>
  <h5><%= @user.introduction %></h5><br>
  <% if current_user.id == @user.id %>
    <%= link_to edit_user_registration_path(current_user), class: "btn btn-success" do %>
      プロフィール編集
    <% end %>
  <% end %>
</div>

<div class="card-deck">
  <% @books.each do |book| %>
    <div class="col-4">
      <br>
      <%= link_to book_path(book), class: "link text-dark" do %>
        <div class="card">
          <%= attachment_image_tag book, :image, size: "318x300", class: "rounded", fallback: "no_image.jpeg" %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-author"><%= book.author %></p>
            <hr>
            <p class="card-text"><%= book.body.truncate(30) %></p>
            <p class="card-text"><small class="text-muted"><%= book.created_at.strftime("%Y-%m-%d　%H:%M") %></small></p>
            <% if book.user_id == current_user.id %>
              <%= link_to "編集", edit_book_path(book) %>
              <%= link_to "削除", book_path(book), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<div class="d-flex justify-content-center">
  <%= paginate @books %>
</div>