<% breadcrumb :book_index %>
<br>
<div class="jumbotron">
  <h1 class="display-4">ようこそ <%= current_user.name %> さん！</h1>
  <p class="lead">おすすめの参考書を紹介して共有しよう</p>
  <hr class="my-4">
  <p>共有された参考書を調べて自分の力に！<br></p>
</div>

<% unless books.exists? %>
  <h4>検索結果はありません</h4>
<% else %>
<div class="card-deck">
  <% books.each do |book| %>
    <div class="col-4">
      <br>
      <%= link_to book_path(book), class: "link text-dark" do %>
        <div class="card">
          <%= attachment_image_tag book, :image, size: "318x300", class: "rounded" %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-author"><%= book.author %></p>
            <span>カテゴリ：</span>
            <span><%= book.category.name %></span>
            <br><br>
            <div class="d-flex justify-content-between">
              <p>コメント <%= book.comments.count %></p>
              <p>❤︎ <%= book.likes.count %></p>
            </div>
            <hr>
            <p class="card-user">投稿者：<%= book.user.name %></p>
            <p class="card-text"><%= book.body.truncate(30) %></p>
            <p class="card-text"><small class="text-muted"><%= book.created_at.strftime("%Y-%m-%d　%H:%M") %></small></p>
            <% if book.user_id == current_user.id %>
              <%= link_to "編集", edit_book_path(book) %>
              <%= link_to "削除", book_path(book), method: :delete, data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
<br>

