<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Reference book BLOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to user_path(current_user), id: "mypage" do %>
            <p class="nav-link">マイページ</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to books_path do %>
            <p class="nav-link">書籍一覧</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, id: "users" do %>
            <p class="nav-link">ユーザー一覧</p>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            投稿
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
            <a href="/books/new" class="dropdown-item">新規投稿</a>
            <a href="/categories" class="dropdown-item" >カテゴリ</a>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to destroy_user_session_path, method: :delete, id: "signout" do %>
            <p class="nav-link">サインアウト</p>
          <% end %>
        </li>
        <% if params[:controller] == "books" %>
          <li class="nav-item">
            <%= render "search_form" %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item active">
          <%= link_to new_user_registration_path do %>
            <p class="nav-link">新規登録</p>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to new_user_session_path, id: "login" do %>
            <p class="nav-link">ログイン</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>